body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#timer {
  font-size: 100px;
  font-weight: bold;
}

@keyframes flicker {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


