body{
  background-color: #222222;
}
.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #c0c0c0;
  font-family: Verdana, math;
}
.header {
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the left */
  justify-content: space-between; /* Align items to the right */
  background-color: #222222;
  width: 100%;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.menu{
  font-size: 50px;
  margin-top: 20px;
  margin-right: 135px;
  margin-left: -220px;
  width: 80px;
  height: 80px;
  background-color: #222222;
  border-radius: 20px;
  color: #c0c0c0;
}

.scanner {
  padding-top: 180px;
  background-color: #c0c0c0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score{
  padding-top: 50px;
  font-size: 70px;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  width: 100%;
  flex-grow: 1;
}
@font-face {
  font-family: "timerfont";
  src: url("../fonts/E1234.ttf");
}
#timer {
  font-size: 200px;
  font-family: "timerfont", sans-serif;

}
.slider {
  width: 400px;
  height: 50px;
  background-color: #c0c0c0;
  position: relative;
  cursor: grab;
  border-radius: 30px;
}

.slider-handle {
  width: 80px;
  height: 80px;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: grab;
  user-select: none;
  border-radius: 50px;
  border: 10px solid #FFD000;
}
#timer-bar-container {
  width: 500px;
  height: 42px;
  border: 5px solid #c0c0c0;
  overflow: hidden;
  border-radius: 40px;
  margin-bottom: 30px;
}

#timer-bar {
  height: 100%;
  background-color: #90FF20;
  width: 100%;
  transition: width linear, background-color 0.5s;
}

