header{
  margin-bottom: 100px;
}

.result{
  background-color: green;
  color:#fff;
  padding:20px;
  align-content: center;
}
.row{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.score{
  font-size: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
