.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
button{
    height: 100px;
    width: 500px;
    font-size: 50px;
    margin-bottom: 200px;
}
.menu{
    font-size: 50px;
    margin-bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    color: #ffffff;
}
.result{
    padding-bottom: 20px;
    font-size: 70px;
    color: white;
}
.text{
    margin-top: 200px;
    color: white;
    font-size: 70px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;

}
.bom{
    margin-top: 200px;
    color: black;
    font-size: 70px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;

}

