.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 30px;
}

.row {
    display: flex;
    margin-bottom: 20px;
    align-content: space-between;
}

.box {
    width: 200px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border: 5px solid black;
    border-radius: 20px;
    color: black;
    background-color: #EC2247;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
